<div mw-modal title="{{ 'Modal.mwModalConfirm.areYouSure' | i18n }}">
  <div mw-modal-body>
    <div ng-transclude></div>
  </div>
  <div mw-modal-footer>
    <button type="button"
            class="btn btn-default"
            data-dismiss="modal"
            ng-click="cancel()"
            id="mw_btn_cancel">{{'Utils.cancel' | i18n }}
    </button>
    <button type="button"
            mw-modal-on-enter
            class="btn btn-primary"
            data-dismiss="modal"
            ng-click="ok()"
            id="mw_btn_confirm">{{'Utils.ok' | i18n }}
    </button>
  </div>
</div>