@keyframes toast-status-indicator-in /* Safari and Chrome */
{
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toast-message-in /* Safari and Chrome */
{
  0% {
    margin-left: -84px;
    transform: translateX(-100%);
  }
  30% {
    margin-left: -84px;
    transform: translateX(-100%);
  }
  100% {
    margin-left: 0;
    transform: translateX(0);
  }
}

@keyframes toast-status-indicator-out /* Safari and Chrome */
{
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes toast-message-out /* Safari and Chrome */
{
  0% {
    transform: translateX(0);
    margin-left: 0;
  }
  50% {
    transform: translateX(-100%);
    margin-left: -84px;
  }
  100% {
    transform: translateX(-100%);
    margin-left: -84px;
  }
}

@keyframes searching /* Safari and Chrome */
{
  0% {
    width: 20px;
    height: 20px;
    opacity: 0;
    border-width: 0;
    right: 8px;
    top: 8px;
  }
  50% {
    width: 20px;
    height: 20px;
    opacity: 1;
    border-width: 8px;
    right: 8px;
    top: 8px;
  }
  100% {
    width: 0;
    height: 0;
    border-width: 0;
    right: 16px;
    top: 16px;
  }
}

@-webkit-keyframes searching /* Safari and Chrome */
{
  0% {
    width: 20px;
    height: 20px;
    opacity: 0;
    border-width: 0;
    right: 8px;
    top: 8px;
  }
  50% {
    width: 20px;
    height: 20px;
    opacity: 1;
    border-width: 8px;
    right: 8px;
    top: 8px;
  }
  100% {
    width: 0;
    height: 0;
    border-width: 0;
    right: 16px;
    top: 16px;
  }
}

@-webkit-keyframes pulsate /* Safari and Chrome */
{
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }

  20%, 60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  40%, 80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@-webkit-keyframes pulsateY /* Safari and Chrome */
{
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }

  20%, 60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  40%, 80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}

@keyframes flash /* Safari and Chrome */
{
  0%{
    color: #ccc;
  }
  50% {
    color: $brand-primary;
  }
  100%{
    color: #ccc;
  }
}

@-webkit-keyframes flash /* Safari and Chrome */
{
  0% {
    color: #ccc;
  }
  50% {
    color: $brand-primary;
  }
  100% {
    color: #ccc;
  }
}