$headerHeight: 61px !default;

div[mw-header] {
  height: $headerHeight;
  position: relative;
  margin-bottom: 25px;
}

.mw-header {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 1.5em 0 1.5em;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  height: $headerHeight + 6;

  .back-btn {
    margin-right: 3px;
    padding: 6px;
    background: transparent;

    i{
      @include transition(color 0.5s ease);
    }

    &:hover{
      i{
        color: $brand-primary;
      }
    }
  }

  .title-holder {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    white-space: nowrap;

    .header-icon {
      margin-right: 2px;
      padding-top: 2px;

      i {
        font-size: 19px;
        vertical-align: middle;
      }
    }

    h1 {
      display: inline-block;
      margin: 0;
      flex-grow: 2;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media (max-width: $screen-sm) {
  $smHeaderHeight: $headerHeight - 15;
  div[mw-header] {
    height: $smHeaderHeight;
  }

  .mw-header {
    height: $smHeaderHeight + 6;

    .title-holder{
      padding-top: 0;
      .header-icon i{
        font-size: 17px;
        vertical-align: baseline;
      }
    }

    .mw-bread-crumbs{

      > *[mw-bread-crumb]:not(:last-child) {
          display: none;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .mw-header {
    .back-btn{
      border: 1px solid #efefef;
      padding: 0px 10px;
      margin-right: 5px;
      border-radius: $border-radius-base;
    }

    .mw-bread-crumbs{
      > *[mw-bread-crumb]{
        display: none;
      }
    }
  }
}