.mwHeader {
  .mw-bread-crumbs {
    margin-right: 4px;
    .bread-crumb {
      font-weight: lighter;
      color: black;
    }

    .arrow {
      font-size: 16px;
      color: #8c8c8c;
      top: -4px;
      position: relative;
    }
  }

  .mw-icon i{
    vertical-align: middle;
  }
}