.mw-badge {
  position: relative;
  top: -1px;

  & ~ .mw-badge {
    margin-left: 3px;
  }

  &.label-android {
    background-color: $badge-android;
  }
  &.label-ios {
    background-color: $badge-ios;
  }
  &.label-knox {
    background-color: $badge-knox;
  }
  &.label-multi {
    background-color: $badge-multi;
  }
  &.label-notsafe {
    background-color: $brand-danger;
    text-decoration: line-through;
  }
}