.mw-forms {

  .form-group {
    .form-control {
      &.input-inline {
        width: inherit;
        display: inline-block;
      }
    }
  }
}

.mw-form.mw-actions {

  @media (max-width: $screen-sm) {
    .action-text {
      display: none;
    }
  }
}

.checkbox .mw-checkbox {
  margin-left: -20px;
  float: left;
}

.checkbox {
  position: relative;
  top: -1px;
}

.mw-checkbox,
.mw-radio {
  width: 18px;
  height: 18px;
  background: none;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: middle;
  position: relative;
  left: -2px;
  padding: 3px;

  .state-indicator {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 0;

    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    opacity: 0;
    background: $brand-primary;

    @include single-transition(all, 0.2s, cubic-bezier(0, .33, .79, 1.46));
  }

  input[type=checkbox],
  input[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
  }

  input[type=checkbox]:checked + .state-indicator,
  input[type=radio]:checked + .state-indicator {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
  }

  input[type=checkbox]:disabled + .state-indicator,
  input[type=radio]:disabled + .state-indicator {
    background: #ccc;
    left: -4px;
    top: -4px;
    height: 170%;
    width: 170%;
    opacity: 0.5;
  }

  input[type=checkbox]:checked:disabled + .state-indicator,
  input[type=radio]:checked:disabled + .state-indicator {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
  }

  input[type=checkbox]:focus ~ .state-focus-indicator,
  input[type=radio]:focus ~ .state-focus-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    //border: 1px solid $input-border-focus;
    $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $color-rgba);
  }
}

.mw-multi-select-boxes {
  .custom-select {
    width: 100%;
  }

  .multi-select-box {
    .toggle-btns {
      margin-left: -25px;
    }
  }
}

.mw-radio {
  border-radius: 50%;
  .state-indicator {
    border-radius: 50%;
  }
  input[type=radio]:focus ~ .state-focus-indicator {
    border-radius: 50%;
  }
}

.mw-form-radio-group {
  padding-top: 6px;
}

.mw-text-in-form {
  display: block;
  padding: 8px 2px;
}