@mixin stripped-table() {
  tr:nth-child(odd) > td,
  tr:nth-child(odd) > th{
    background-color: transparent;
  }

  tr{
    &:not(:last-child) td,th{
      border-bottom: 1px solid #efefef;
    }
  }
}

.mw-listable {

  thead {

    th.listable-amount {
      padding: 0 0 10px 7px;
      text-align: right !important;
      border-bottom: none;
      font-size: 10px;
      color: #999;
      position: relative;

      span:after {
        content: '';
        position: absolute;
        bottom: 4px;
        @include background(linear-gradient(left, color-stops(#ffffff 70%, #cccccc 90%, #cccccc 100%)));
        width: 100%;
        height: 1px;
        left: 0;
      }
    }

    th {
      font-weight: 500;
      color: #555;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      border-top: none !important;

      .sort-indicator,
      .title {
        @include single-transition(all, 0.2s, ease);
      }

      .sort-indicator {
        width: 8px;
        opacity: 0;
      }

      &.clickable .title {
        margin-left: -10px;
        margin-right: 10px;
      }

      &.sort-active {
        font-weight: bolder;
        color: #000;

        .sort-indicator {
          display: none;
        }

      }

      &:hover {
        .sort-indicator {
          opacity: 1;
        }

      }

      //set next to last child to max width
      &:nth-last-child(2) {
        max-width: 1px;
      }

      &.sort-active,
      &.clickable:hover {
        .title {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  tbody {
    tr {
      height: 50px;
    }

    tr td {
      @include single-transition(background-color, 0.2s, ease);
    }

    tr.clickable:hover td {
      background-color: $list-hover-color;
      cursor: pointer;
    }

    tr td {
      vertical-align: middle;
    }

    tr.selected td,
    tr.selected:hover td {
      background-color: $list-active-color !important;
    }

    @include stripped-table();

    td span[mw-icon] {
      top: 2px;
    }

    td.icon-column {
      width: 40px;

      img {
        max-height: 40px;
        max-width: 40px;
      }
    }

    td.primary-column {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: $screen-md) {
    thead {
      th {
        white-space: initial;

        .sort-indicator {
          display: none;
        }

        .title {
          margin: 0 !important;
        }
      }
    }

    tbody {
      td.icon-column {
        width: 40px;
        position: relative;

        img {
          max-height: 20px;
          max-width: 20px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      td.primary-column {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media (max-width: $screen-xs) {

    td.icon-column img {
      max-height: 20px;
      max-width: 20px;
    }

    td.primary-column {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

.table.table-striped{
  tbody{
    @include stripped-table();
  }
}

@mixin normal-listable-header() {
  .mw-listable-header {
    left: 0;
    box-sizing: border-box;
    padding: 15px 5px;

    .selection-controller,
    .selected-counter {
      margin: 0
    }

    .selected-items .items {
      padding: 10px 0;
    }
  }
}

@mixin curved-shadow() {
  position: relative;

  &:before {
    bottom: 0px;
    left: 1%;
    border-radius: 25%;
    box-shadow: rgba(180, 180, 180, 0.4) 0 3px 4px;
    content: "";
    position: absolute;
    z-index: -1;
    width: 98%;
    height: 19px;
  }
}

div[mw-listable-head-2] {
  position: relative;
  z-index: 10;
  @include single-transition(opacity, 0.5s, cubic-bezier(0, .33, .79, 1.46));

  @media (max-width: $screen-md) {
    position: static;
    opacity: 1 !important;

    @include normal-listable-header();
  }

  &.has-extra-content {
    .extra-content {
      display: inline-block;
    }
  }
}

.mw-listable-header {
  width: 100%;
  background: #efefef;
  padding: 5px 7px 5px 10px;
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 22px;
  left: -16px;
  box-sizing: content-box;
  position: relative;
  //@include curved-shadow();

  .selection-controller {
    margin-left: 10px;

    .select-all {

      .selected-icon {
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 1px solid $brand-primary;
        vertical-align: text-top;
        position: relative;

        .indicator {
          width: 60%;
          height: 60%;
          background: $brand-primary;
          display: inline-block;
          position: absolute;
          top: 20%;
          left: 20%;
        }
      }
    }

    .clear {
      border-left: 1px solid #ccc;
      margin-left: 3px;
      padding-left: 2px;

      &:first-child {
        border-left: none;
      }

      i {
        font-size: 10px;
        margin: 2px -4px 0 0;
        vertical-align: text-top;
        color: $brand-primary;
      }
    }

  }

  .search-bar {
    margin: auto;

    .input-holder{
      border-bottom: none;

      input {
        border: none;
        box-shadow: none;
        width: 128px;
        background: transparent;
        display: inline-block;
        margin: -6px 0 0 0;
        padding: 0 0 0 3px;
        font-size: 12px;
        transition: all 0.2s ease;

        ~ .mw-icon {
          position: absolute;
          left: -16px;
          top: 1px;
          transition: all 0.2s ease;
        }

        &:focus {
          background: white;
          height: 26px;
          margin-top: -2px;
          font-size: 16px;
          width: 300px;

          ~ .mw-icon {
            background: white;
            left: -26px;
            top: -2px;
            padding: 4px 8px;
            height: 26px;
          }
        }

        &.has-value{
          ~ .reset-icon{
            top: 2px;
            left: -15px;
          }
        }
      }
    }
  }

  .selected-counter {
    margin-right: 6px;

    i {
      color: $brand-primary;
    }

    .extra-content {
      border-right: 1px solid #ccc;
      padding-right: 5px;
      margin-right: 3px;
      display: none;
    }
  }

  .selected-items {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9;
    overflow: auto;

    .items {
      background: white;
      padding: 10px 15px;

      .box-shadow-container {

        @include curved-shadow();

        &:before {
          bottom: -9px;
        }
      }

      .label {
        font-size: 13px;
        font-weight: normal;
        margin: 5px;
        &:hover {
          border-color: $brand-primary;
          color: $brand-primary;

          i {
            color: $brand-primary;
          }
        }

        i {
          font-size: 11px;
          margin: 0px -5px 0 0;
        }

        i.fa {
          margin: 0;
        }
      }

      .item {
        margin: 5px 5px 5px 0;
      }
    }

    .close-pane {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  @media (max-width: $screen-md) {
    .search-bar{
      margin-left: 25px;

      .input-holder{
        input {
          margin: -18px 0 0 0;

          ~ .mw-icon {
            top: -8px;
          }

          &:focus {
            margin-top: -18px;
            width:100%;

            ~ .mw-icon {
              top: -13px;
            }
          }

          &.has-value{
            ~ .reset-icon{
              top: -8px;
            }
          }

        }
      }
    }

    .search-bar.focused {
      width: 100%;

      ~.selected-counter{
        display: none;
      }

    }
  }
}

.modal {
  @include normal-listable-header();
}

.mw-link-show {
  text-align: right;
  padding: 0 12px;
  font-size: 21px;
}
