.mw-content-header {
  padding: 20px 10px;
  margin-bottom: 20px;
  background: #fff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 96%;
    height: 20px;
    bottom: 0;
    left: 2%;
    right: 2%;
    border-radius: 100px / 10px;
    -webkit-box-shadow: rgba(80, 80, 80, 0.2) 0 0 15px;
    box-shadow: rgba(80, 80, 80, 0.2) 0 0 15px;
  }
}