<div ng-form>
  <div ng-class="{'has-error': showRequiredMessage()}">

    <div class="checkbox" ng-repeat="item in collection.models">
      <label>
        <input type="checkbox"
               name="selectOption"
               mw-custom-checkbox
               ng-disabled="isDisabled(item)"
               ng-checked="model.indexOf(item.attributes.key) >= 0"
               ng-click="toggleKeyIntoModelArray(item.attributes.key); setDirty()"> {{ translationPrefix + '.' + item.attributes.key | i18n }}
      </label>
    </div>

    <div mw-form-input>
      <input type="hidden" name="requireChecker" ng-model="model[0]" ng-required="mwRequired">
    </div>

  </div>
</div>
