<div class="row mw-filterable-search" ng-class="{'has-value':hasValue()}">
  <div class="input-holder input-group">
    <span class="input-group-addon clickable trigger-search" ng-click="focus()">
      <span mw-icon="fa-search"
            ng-class="{searching:searching}"
            class="search-icon"></span>
    </span>
    <span ng-click="reset()"
          mw-icon="rln-icon close_cross"
          class="input-group-addon reset-icon red clickable reset-search"></span>
    <input type="text"
           placeholder="{{placeholder || ('common.search' | i18n)}}"
           ng-keyup="keyUp($event)"
           ng-model="viewModel.searchVal"
           ng-change="search($event)"
           ng-model-options="{ debounce: 500 }"
           id="{{searchInputId}}"
           ng-disabled="mwDisabled">
  </div>
</div>