<div mw-modal
     title="{{'Utils.mwLeaveConfirmationModal.title' | i18n}}">
  <div mw-modal-body>
    <p>
      {{ text }}
    </p>
  </div>

  <div mw-modal-footer>
    <button type="button"
            class="btn btn-default"
            ng-click="stay()">{{'Utils.mwLeaveConfirmationModal.stay' | i18n }}
    </button>

    <button type="button"
            class="btn btn-primary"
            ng-click="continue()">{{'Utils.mwLeaveConfirmationModal.continue' | i18n }}
    </button>
  </div>
</div>