<div ng-form class="mw-form mw-form-multi-select">
  <div ng-class="{'has-error': showRequiredMessage()}">

    <div class="checkbox" ng-repeat="model in mwOptionsCollection.models">
      <label>
        <input type="checkbox"
               name="selectOption"
               ng-disabled="mwDisabled"
               mw-custom-checkbox
               ng-checked="mwCollection.findWhere(model.toJSON())"
               ng-click="toggleModel(model); setDirty()">
        <span ng-if="!mwOptionsLabelI18nPrefix">{{ model.get(mwOptionsLabelKey) }}</span>
        <span ng-if="mwOptionsLabelI18nPrefix">{{mwOptionsLabelI18nPrefix+'.'+model.get(mwOptionsLabelKey) | i18n}}</span>
      </label>
    </div>

    <div mw-form-input>
      <span mw-validate-collection-or-model="mwCollection" mw-required="mwRequired"></span>
    </div>

  </div>
</div>
