<div class="mw-form mw-form-input form-group"
     ng-class="{'has-error': (validateWhenDirty ? (isInvalid() && isDirty()) : isInvalid() ) }">

  <div class="clearfix">

    <label ng-if="label"
           class="col-sm-3 control-label">
      {{ label }}
      <span ng-if="tooltip" mw-tooltip="{{ tooltip }}"></span>
    </label>

    <div ng-class="{ true: 'col-sm-6 col-lg-5', false: 'col-sm-12' }[label.length > 0]"
         ng-transclude></div>
  </div>

  <div ng-if="!hideErrors"
       ng-class="{ true: 'col-sm-6 col-sm-offset-3', false: 'col-sm-12' }[label.length > 0]">

    <span ng-repeat="(key, label) in validationValues"
          mw-form-validation="{{ key }}">{{ label }}</span>
  </div>
</div>