<div class="mw-form">

  <div class="btn-group">
    <button type="button"
            class="btn btn-danger"
            ng-if="hasCancel"
            ng-click="cancelFacade()">
      <span mw-icon="remove"></span>
      {{ 'common.cancel' | i18n }}
    </button>
    <button type="button"
            class="btn btn-primary"
            ng-click="saveFacade()"
            ng-if="hasSave"
            ng-disabled="form.$invalid || isLoading()">
      <span mw-icon="ok"></span>
      {{ 'common.save' | i18n }}
    </button>
  </div>

</div>