<div class="form-group"
     ng-class="{'has-error': isInvalid()}">
  <label ng-if="label"
         class="col-md-3 control-label">
    {{ label }}
    <span ng-if="tooltip" mw-tooltip="{{ tooltip }}"></span>
  </label>

  <div ng-class="{ true: 'col-md-9', false: 'col-md-12' }[label.length > 0]"
       ng-transclude></div>

  <div ng-if="!hideErrors"
       ng-class="{ true: 'col-md-9 col-md-offset-3', false: 'col-md-12' }[label.length > 0]">
    <span mw-form-validation="required">{{ 'errors.isRequired' | i18n }}</span>
    <span mw-form-validation="email">{{ 'errors.hasToBeAnEmail' | i18n }}</span>
    <span mw-form-validation="pattern">{{ 'errors.hasToMatchPattern' | i18n }}</span>
    <span mw-form-validation="url">{{ 'errors.validUrl' | i18n }}</span>
    <span mw-form-validation="min">{{'errors.minValue' | i18n:{count: minValue} }}</span>
    <span mw-form-validation="max">{{'errors.maxValue' | i18n:{count: maxValue} }}</span>
    <span mw-form-validation="phone">{{'errors.phoneNumber' | i18n }}</span>
    <span mw-form-validation="unique">{{'errors.notUnique' | i18n }}</span>
    <span mw-form-validation="match">{{'errors.doesNotMatch' | i18n }}</span>
  </div>
</div>