<div class="mw-autocomplete">
  <input type="text"
         placeholder="{{getPlaceholder()}}"
         ng-disabled="mwDisabled"
         ng-model="viewModel.searchVal"
         ng-model-options="{debounce: 100}"
         ng-change="fetchSuggestions($event)"
         ng-focus="setSearchActive(true)"
         ng-blur="setSearchActive(false)">
  <div ng-show="viewModel.searchActive"
       class="auto-complete-text">
    {{getAutocompleteText()}}
  </div>
  <div ng-if="getSelectedModelLabel()"
       class="selected-item badge badge-light">
    {{getSelectedModelLabel()}}
    <span mw-icon="mwUI.cross"
          class="clickable"
          ng-click="unselect()"></span>
  </div>
  <div ng-show="(mwOptionsCollection.length>0 || viewModel.isSearching) && viewModel.searchActive"
       class="auto-complete-holder">
    <ul mw-infinite-scroll collection="mwOptionsCollection" scroll-container-selector=".auto-complete-holder">
      <li ng-repeat="model in mwOptionsCollection.models"
          class="search-item clickable"
          ng-class="{selected: model.selectable.isSelected()}"
          id="{{model.cid}}"
          ng-mouseover="tmpSelect(model)"
          ng-mousedown="select(model)">
        {{getLabel(model)}}
      </li>
      <li ng-show="viewModel.isSearching"
          class="loading-item">
        <div mw-spinner></div>
      </li>
    </ul>
  </div>
  <input type="hidden"
         ng-model="viewModel.tmp"
         mw-model="mwModel"
         mw-model-attr="{{getModelAttribute()}}"
         ng-required="mwRequired">
</div>