<div class="mw-autocomplete" style="width: 100%">
  <input type="text"
         ng-disabled="mwDisabled"
         ng-model="viewModel.searchVal"
         ng-model-options="{debounce: 100}"
         ng-change="fetchSuggestions($event)"
         ng-focus="setSearchActive(true)"
         ng-blur="setSearchActive(false)">
  <div class="auto-complete-text" ng-show="viewModel.searchActive">
    {{getAutocompleteText()}}
  </div>
  <div class="selected-item badge badge-light" ng-if="getSelectedModelLabel()">
    {{getSelectedModelLabel()}}
    <span mw-icon="mwUI.cross"
          class="clickable"
          ng-click="unselect()"></span>
  </div>
  <div class="auto-complete-holder"
       ng-show="(mwOptionsCollection.length>0 || viewModel.isSearching) && viewModel.searchActive"
       style="max-height: 115px; overflow:scroll">
    <ul mw-infinite-scroll collection="mwOptionsCollection" scroll-container-selector=".auto-complete-holder">
      <li ng-repeat="model in mwOptionsCollection.models"
          class="clickable"
          ng-class="{selected: model.selectable.isSelected()}"
          id="{{model.cid}}"
          ng-mouseover="tmpSelect(model)"
          ng-mousedown="select(model)">
        {{getLabel(model)}}
      </li>
      <li ng-show="viewModel.isSearching" style="display: flex;justify-content: center;">
        <div mw-spinner></div>
      </li>
    </ul>
  </div>
  <input type="hidden" ng-model="viewModel.tmp" ng-required="mwRequired" mw-model="mwModel"
         mw-model-attr="{{getModelAttribute()}}">
</div>