<select ng-disabled="mwDisabled"
        ng-required="mwRequired"
        ng-model="viewModel.selected"
        ng-change="select(viewModel.selected)">
  <option value="" ng-if="hasPlaceholder()" ng-disabled="mwRequired">{{getPlaceholder()}}</option>
  <option value="" ng-if="!hasPlaceholder()"></option>
  <option ng-repeat="model in mwOptionsCollection.models"
          value="{{model.id}}"
          ng-disabled="isOptionDisabled(model)"
          ng-selected="isChecked(model)"
          ng-click="selectOption(model)">
    {{getLabel(model)}}
  </option>
</select>
