<div class="mw-toggle">

  <button class="no toggle btn btn-link"
          ng-click="toggle(true)"
          ng-disabled="mwDisabled">
    <span ng-if="!mwIconOn">{{ 'UiComponents.mwToggle.on' | i18n }}</span>
    <span ng-if="mwIconOn" mw-icon="{{mwIconOn}}"></span>
  </button>

  <button class="yes toggle btn btn-link"
          ng-click="toggle(false)"
          ng-disabled="mwDisabled">
    <span ng-if="!mwIconOff">{{ 'UiComponents.mwToggle.off' | i18n }}</span>
    <span ng-if="mwIconOff" mw-icon="{{mwIconOff}}"></span>
  </button>

  <span class="label indicator"
        ng-class="{ true: 'label-success enabled', false: 'label-danger' }[mwModel]"></span>

</div>