<div class="row mw-filterable-search">
  <div class="col-md-12">
    <div class="input-group">
      <input ng-if="!customUrlParameter"
             type="text"
             placeholder="{{ 'common.search' | i18n }}"
             class="form-control"
             ng-keyup="search($event)"
             ng-model="collection.filterable.filterValues[property]"
             ng-disabled="mwDisabled">

      <input ng-if="customUrlParameter"
             type="text"
             placeholder="{{ 'common.search' | i18n }}"
             class="form-control"
             ng-keyup="search($event)"
             ng-model="collection.filterable.customUrlParams[customUrlParameter]"
             ng-disabled="mwDisabled">

      <span class="input-group-addon filterable-search-btn" ng-click="performAction()">
        <span ng-show="searching" class="search-indicator"></span>
        <span ng-hide="searching || showResetIcon()"><span mw-icon="search"></span></span>
        <span ng-if="showResetIcon() && !searching"
              mw-icon="fa-times"
              class="red"></span>
      </span>
    </div>
  </div>
</div>