<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle hidden-xs" data-toggle="dropdown">
    Version {{currentVersionModel.attributes[versionNumberKey]}} <span ng-if="currentVersionModel.attributes.published" mw-icon="star"></span>
  </button>
  <ul class="version-dropdown dropdown-menu pull-right" style="min-width:100%" role="menu">
    <li ng-repeat="version in versionCollection.models" ng-class="{active:(version.attributes.uuid === currentVersionModel.attributes.uuid)}">
      <a ng-href="{{getUrl(version.attributes.uuid)}}">
        {{version.attributes[versionNumberKey]}}
        <span ng-if="version.attributes.published" mw-icon="star"></span>
      </a>
    </li>
  </ul>
</div>