<div class="row mw-filterable-search">
  <div class="input-holder">
    <input type="text"
           placeholder="{{placeholder || ('common.search' | i18n)}}"
           ng-keyup="keyUp()"
           ng-model="viewModel.searchVal"
           ng-change="search($event)"
           ng-model-options="{ debounce: 500 }"
           ng-disabled="mwDisabled"
           ng-class="{'has-value':hasValue()}">
    <span mw-icon="fa-search"
          ng-class="{searching:searching}"
          class="search-icon"></span>
    <span ng-click="reset()"
          mw-prevent-default="click"
          mw-icon="rln-icon close_cross"
          class="reset-icon red clickable"></span>
  </div>
</div>