@import "compass/css3";
@import "font-awesome/scss/font-awesome";
@import "sass-bootstrap/lib/bootstrap";
@import "../../src/mw_ui";

.app {
  display: flex;

  nav {
    min-width: 60px;
    height: 100vh;
    background: red;
  }

  div[mw-header] {
    height: 60px;
    position: relative;
    margin-bottom: 25px;

    .mw-header {
      width: calc(100% - 60px);
      height: 60px;
      left: initial;
    }
  }

  .module-page{
    flex-grow: 1;
  }
}