@import "compass/css3";
@import "font-awesome/scss/font-awesome";
@import "sass-bootstrap/lib/bootstrap";
@import "../../src/mw_ui";

.app {
  @import "modules/start/start";
}

.module-page{
  margin: 0 1.5em;
}