$mw-font-path: "../fonts" !default;

@font-face {
  font-family: 'icomoon';
  src: url('#{$mw-font-path}/mw-relution.eot');
  src: url('#{$mw-font-path}/mw-relution.eot?#iefix') format('embedded-opentype'),
  url('#{$mw-font-path}/mw-relution.woff') format('woff'),
  url('#{$mw-font-path}/mw-relution.ttf') format('truetype'),
  url('#{$mw-font-path}/mw-relution.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body .rln-icon {
  position: relative;
}

.rln-icon {
  top: 1px;
  display: inline-block;
  font: normal normal normal 14px/1 icomoon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #808080;

  &:hover,
  &:after:hover,
  &:before:hover {
    text-decoration: none !important;
  }

  &.action:before {
    content: "\e900";
  }
  &.add:before {
    content: "\e901";
  }
  &.android:before {
    content: "\e902";
  }
  &.apple:before {
    content: "\e903";
  }
  &.apps:before {
    content: "\e904";
  }
  &.archive:before {
    content: "\e905";
  }
  &.bluetooth:before {
    content: "\e906";
  }
  &.categories:before {
    content: "\e907";
  }
  &.certificate:before {
    content: "\e908";
  }
  &.check:before {
    content: "\e909";
  }
  &.close_cross:before {
    content: "\e90a";
  }
  &.company:before {
    content: "\e90b";
  }
  &.compliance_error:before {
    content: "\e90c";
  }
  &.compliance_no:before {
    content: "\e90d";
  }
  &.compliance_pending:before {
    content: "\e90e";
  }
  &.compliance_yes:before {
    content: "\e90f";
  }
  &.compliance:before {
    content: "\e910";
  }
  &.credit_add:before {
    content: "\e911";
  }
  &.credit_inquire:before {
    content: "\e912";
  }
  &.credit_receive:before {
    content: "\e913";
  }
  &.dashboard:before {
    content: "\e914";
  }
  &.delete:before {
    content: "\e915";
  }
  &.dep:before {
    content: "\e916";
  }
  &.development:before {
    content: "\e917";
  }
  &.device:before {
    content: "\e918";
  }
  &.devicemanagement:before {
    content: "\e919";
  }
  &.download:before {
    content: "\e91a";
  }
  &.edit:before {
    content: "\e91b";
  }
  &.enroll:before {
    content: "\e91c";
  }
  &.exchange:before {
    content: "\e91d";
  }
  &.filter_add:before {
    content: "\e91e";
  }
  &.folder:before {
    content: "\e91f";
  }
  &.group_enrollment:before {
    content: "\e920";
  }
  &.history:before {
    content: "\e921";
  }
  &.ic_action_add_shortcut:before {
    content: "\e922";
  }
  &.ic_action_alert:before {
    content: "\e923";
  }
  &.ic_action_change_policy:before {
    content: "\e924";
  }
  &.ic_action_deploy_app:before {
    content: "\e925";
  }
  &.ic_action_deploy_store_app:before {
    content: "\e926";
  }
  &.ic_action_locate:before {
    content: "\e927";
  }
  &.ic_action_lock:before {
    content: "\e928";
  }
  &.ic_action_message:before {
    content: "\e929";
  }
  &.ic_action_open_file:before {
    content: "\e92a";
  }
  &.ic_action_ping:before {
    content: "\e92b";
  }
  &.ic_action_refresh_device:before {
    content: "\e92c";
  }
  &.ic_action_remove_app:before {
    content: "\e92d";
  }
  &.ic_action_remove_shortcut:before {
    content: "\e92e";
  }
  &.ic_action_reset_passcode:before {
    content: "\e92f";
  }
  &.ic_action_update:before {
    content: "\e930";
  }
  &.ic_action_wipe:before {
    content: "\e931";
  }
  &.ic_action_withdraw:before {
    content: "\e932";
  }
  &.ic_conf_managed_app:before {
    content: "\e933";
  }
  &.ic_conf_airplay:before {
    content: "\e934";
  }
  &.ic_conf_airprint:before {
    content: "\e935";
  }
  &.ic_conf_apn:before {
    content: "\e936";
  }
  &.ic_conf_app-control:before {
    content: "\e937";
  }
  &.ic_conf_calendar-subscription:before {
    content: "\e938";
  }
  &.ic_conf_calendar:before {
    content: "\e939";
  }
  &.ic_conf_certificate:before {
    content: "\e93a";
  }
  &.ic_conf_contacts:before {
    content: "\e93b";
  }
  &.ic_conf_domain:before {
    content: "\e93c";
  }
  &.ic_conf_email:before {
    content: "\e93d";
  }
  &.ic_conf_exchange:before {
    content: "\e93e";
  }
  &.ic_conf_kiosk:before {
    content: "\e93f";
  }
  &.ic_conf_passcode:before {
    content: "\e940";
  }
  &.ic_conf_restrictions:before {
    content: "\e941";
  }
  &.ic_conf_scep:before {
    content: "\e942";
  }
  &.ic_conf_vpn:before {
    content: "\e943";
  }
  &.ic_conf_webclip:before {
    content: "\e944";
  }
  &.ic_conf_wifi:before {
    content: "\e945";
  }
  &.ic_iot_advertisement:before {
    content: "\e946";
  }
  &.ic_iot_end_programming:before {
    content: "\e947";
  }
  &.ic_iot_led_multi_off:before {
    content: "\e948";
  }
  &.ic_iot_led_off:before {
    content: "\e949";
  }
  &.ic_iot_led_on_multi:before {
    content: "\e94a";
  }
  &.ic_iot_led_on:before {
    content: "\e94b";
  }
  &.ic_iot_start_programming:before {
    content: "\e94c";
  }
  &.language:before {
    content: "\e94d";
  }
  &.logout:before {
    content: "\e94e";
  }
  &.map_location_filled:before {
    content: "\e94f";
  }
  &.map_location:before {
    content: "\e950";
  }
  &.mtrust:before {
    content: "\e951";
  }
  &.new_app_appstore:before {
    content: "\e952";
    color: #808080;
  }
  &.new_app_appstore:after {
    content: "\e953";
    margin-left: -1.4794921875em;
    color: rgb(255, 255, 255);
  }
  &.new_app_native:before {
    content: "\e954";
  }
  &.new_app_playstore:before {
    content: "\e955";
  }
  &.new_app_webapp:before {
    content: "\e956";
  }
  &.new_app_weblink:before {
    content: "\e957";
  }
  &.new_app_windowsstore:before {
    content: "\e958";
  }
  &.notification:before {
    content: "\e959";
  }
  &.password_change:before {
    content: "\e95a";
  }
  &.policies:before {
    content: "\e95b";
  }
  &.policy_add:before {
    content: "\e95c";
  }
  &.policy_remove:before {
    content: "\e95d";
  }
  &.pricetag:before {
    content: "\e95e";
  }
  &.publish:before {
    content: "\e95f";
  }
  &.published:before {
    content: "\e960";
  }
  &.request:before {
    content: "\e961";
  }
  &.review:before {
    content: "\e962";
  }
  &.rule_add:before {
    content: "\e963";
  }
  &.rule_remove:before {
    content: "\e964";
  }
  &.ruleset:before {
    content: "\e965";
  }
  &.secure_browser:before {
    content: "\e966";
  }
  &.support:before {
    content: "\e967";
  }
  &.upload:before {
    content: "\e968";
  }
  &.user_group:before {
    content: "\e969";
  }
  &.user:before {
    content: "\e96a";
  }
  &.version_add:before {
    content: "\e96b";
  }
  &.version:before {
    content: "\e96c";
  }
  &.vpp:before {
    content: "\e96d";
  }
  &.webapp:before {
    content: "\e96e";
  }
  &.windows:before {
    content: "\e96f";
  }
  &.workflow:before {
    content: "\e970";
  }
}