<div class="mw-sidebar-filters">

  <div class="filter-toggler margin-top-10">
    <a class="clickable btn btn-default btn-block"
       ng-click="toggleFilters = !toggleFilters; resetFiltersOnClose()">
      <span class="fa fa-times toggle-indicator rotate-45" ng-class="{'red active':toggleFilters}"></span>
      <span ng-if="toggleFilters">{{'common.removeFilters' | i18n}}</span>
      <span ng-if="!toggleFilters">{{'common.addFilter' | i18n}}</span>
    </a>
  </div>

  <div ng-if="toggleFilters" ng-transclude class="filters animate-height"></div>

</div>