<div class="row">
  <div class="col-md-12">
    <select ng-if="!customUrlParameter"
            class="form-control"
            mw-custom-select
            ng-model="collection.filterable.filterValues[property]"
            ng-change="changed()"
            ng-options="key(model) as label(model) for model in options.models"
            ng-disabled="mwDisabled">
      <option value="">{{ placeholder }}</option>
    </select>

    <select ng-if="customUrlParameter"
            class="form-control"
            mw-custom-select
            ng-model="collection.filterable.customUrlParams[customUrlParameter]"
            ng-change="changed()"
            ng-options="key(model) as label(model) for model in options.models"
            ng-disabled="mwDisabled">
      <option value="">{{ placeholder }}</option>
    </select>
  </div>
</div>