<div class="message messages-list mw-toasts">
  <div class="content">
    <ul>
      <li ng-repeat="toast in toasts" class="message-item">

        <div class="status-indicator {{toast.type}}">
          <span mw-icon="{{toast.icon}}"></span>
        </div>

        <div class="message">

          <div class="holder margin-top-5">

            <h5 ng-if="toast.title">{{toast.title}}</h5>

            <span ng-if="!toast.isHtmlMessage">{{toast.message}}</span>
            <span ng-if="toast.isHtmlMessage" ng-bind-html="toast.message"></span>

            <a class="action-button btn btn-link btn-xs" ng-if="toast.button && toast.button.isLink && toast.button.action && !toast.button.link" href="#">
              <span ng-click="hideToast(toast); toast.button.action()" mw-prevent-default="click">{{toast.button.title}}</span>
            </a>

            <a class="action-button btn btn-link btn-xs" ng-if="toast.button && toast.button.isLink && toast.button.link" ng-href="{{toast.button.link}}" target="{{toast.button.target}}">
              <span>{{toast.button.title}}</span>
            </a>

            <div ng-if="toast.button && !toast.button.isLink && toast.button.action">
              <div class="action-button btn btn-default btn-xs margin-top-5">
                <div ng-click="hideToast(toast); toast.button.action()">{{toast.button.title}}</div>
              </div>
            </div>

          </div>

          <div class="closer" ng-click="hideToast(toast.id)">
            <i class="rln-icon close_cross"></i>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>