<div mw-header title="{{'start.index.title' | i18n }}" mw-title-icon="rln-icon apps"></div>

<div mw-body style="padding: 0 20px">

  <div class="row">
    <div class="col-md-3">
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
    </div>

    <div class="col-md-9">
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
      dsafdsafdsa fasf sda fsda f sadf sad f dsa fsadf asdfasdffdsa
    </div>
  </div>

  <input type="checkbox" mw-checkbox>
  <input type="radio" mw-radio name="jo">
  <input type="radio" mw-radio name="jo">

</div>
