.mw-modal {
  position: relative;
  z-index: 9999;

  .modal {
    height: 100%;
  }

  .mw-listable {
    tr, td {
      border: none;
      height: 30px;
    }
  }

  .modal-dialog,
  .modal-content-wrapper,
  .modal-content,
  .body-holder,
  .body-holder form{
    height: inherit;
  }

  .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
  }

  .modal-dialog {
    overflow: hidden;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    //border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
  }

  .modal-header,
  .modal-footer {
    position: relative;
    z-index: 2;
  }

  .modal-header {
    border-bottom: none;
    color: white;
    background-color: $brand-primary;
    -webkit-box-shadow: 0 -1px 4px rgba(122,122,122,.5);
    box-shadow: 0 -1px 4px rgba(122,122,122,.5);
    position: relative;
    z-index: 1000;

    .logo{
      margin-top: 4px;
      margin-right: 5px;
      height: 16px;
    }

  }

  .body-holder{
    .mw-toasts{
      .content{
        position: absolute;
      }
    }
    .modal-body {
      max-height: 70%;
      overflow: auto;
      border-bottom: none;
      border-top: none;
      -webkit-box-shadow: 0 0px 4px rgba(122,122,122,.5);
      box-shadow: 0 0px 4px rgba(122,122,122,.5);
    }

    .modal-footer {
      margin-top: 0;
      border-top: none;
      -webkit-box-shadow: 0 2px 4px rgba(122,122,122,.5);
      box-shadow: 0 2px 4px rgba(122,122,122,.5);

      &:after{
        -webkit-box-shadow: 0px -3px 9px 0 #efefef;
        box-shadow: 0px -3px 9px 0 #efefef;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
        background-color: white;
      }
    }

    .modal-body {
      .mw-tabs {
        .tab-content {
          padding: 20px 30px;
        }
      }
    }
  }

  .control-label {
    text-align: left;
    width: inherit;
    margin-bottom: 3px;
    float: none;
  }

  .col-sm-6 {
    width: inherit;
    float: none;
  }

  .col-sm-offset-3 {
    margin-left: 0;
  }

  textarea {
    max-width: 100%;
  }

  @media (max-width: $screen-xs) {

    .modal-footer {
      .btn {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

.modal-backdrop.in{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.modal-backdrop{
  background-color: #efefef;
}