<div class="row mw-filterable-search">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text"
             placeholder="{{ 'common.search' | i18n }}"
             class="form-control"
             ng-keyup="search($event)"
             ng-model="model.value"
             ng-disabled="mwDisabled">
      <span class="input-group-addon filterable-search-btn" ng-click="search()">
        <span ng-show="searching" class="search-indicator"></span>
        <span ng-hide="(searching || model.value.length>0) || isMobile" mw-icon="search"></span>
        <span ng-if="(model.value.length>0 && !searching) && !isMobile" mw-icon="rln-icon add" class="red rotate-45" ng-click="reset()"></span>
      </span>
    </div>
  </div>
</div>