<div class="message messages-list">
  <div class="content" ng-model="bootstrapClass">
    <ul ng-if="messages.length > 0">
      <li ng-repeat="toast in toasts" class="alert message-item alert-{{toast.type}}" ng-if="toast.isVisible">
        <strong ng-if="toast.title">{{toast.title}}</strong>

        <div class="holder">
          <span ng-if="!toast.isHtmlMessage">{{toast.message}}</span>
          <span ng-if="toast.isHtmlMessage" ng-bind-html="toast.message"></span>

          <a class="action-button btn btn-link btn-xs" ng-if="toast.button && toast.button.isLink" href="#">
            <span ng-click="hideToast(toast); toast.button.action()" mw-prevent-default="click">{{toast.button.title}}</span>
          </a>

        </div>
        <div class="action-button btn btn-default btn-xs margin-top-5" ng-if="toast.button && !toast.button.link">
          <div ng-click="hideToast(toast); toast.button.action()">{{toast.button.title}}</div>
        </div>
        <div class="closer" ng-click="hideToast(toast)">
          <i class="rln-icon close_cross"></i>
        </div>
      </li>
    </ul>
  </div>
</div>