<div class="filter">
  <div class="panel-body text-center">

    <div class="row">
      <div class="btn-group col-md-12">
        <button
            ng-disabled="loading || (filterable.items().length < 1)"
            ng-click="filterable.loadAll()"
            class="btn">
          <span mw-icon="list"></span>
          {{'common.loadAll' | i18n }}
        </button>

        <button
            class="btn"
            ng-click="filterable.resetFilters(); filterable.applyFilters()">
          <span mw-icon="repeat"></span>
          {{ 'common.reset' | i18n }}
        </button>
      </div>
    </div>

    <div ng-transclude></div>
  </div>
</div>