<div ng-form="file" class="mw-file-upload {{uploadState}}" ng-class="{
  'drag-start':isInDragState,
  'drag-over':isInDragOverState,
  'full-screen':fullScreen,
  'hidden-btn':hiddenBtn
  }">

  <div ng-class="{'has-error': file.$error.required}">

    <div ng-show="uploadState == 'uploading'" class="upload-progress-bar">
      <div class="upload-info panel panel-primary">
        {{uploadMessage}}
        <div class="state-indicator">
          <div class="progress" ng-style="{width: uploadProgress + '%'}"></div>
        </div>
      </div>
      <div ng-if="showCancelButton" class="btn btn-danger" ng-click="abort()">{{'rlnUikit.mwFileUpload.abort' | i18n}}</div>
    </div>

    <div ng-show="uploadState != 'uploading'" class="upload-btn">

      <button ng-show="!fileIsSet()"
              type="button"
              class="btn btn-primary btn-upload hidden-on-drag"
              ng-click="triggerUploadDialog()">
        <span mw-icon="rln-icon upload"></span> {{ text || ('rlnUikit.mwFileUpload.upload' | i18n) }}
      </button>

      <div class="drop-zone">

        <div class="content">
          <span mw-icon="fa-file-o"></span>

          <h3>{{'rlnUikit.mwFileUpload.dropFiles' | i18n}}</h3>
        </div>

      </div>

      <div ng-if="fileIsSet()" class="hidden-on-drag selected-file-info">
        <p ng-if="_showFileName" class="filename panel panel-default"><span mw-icon="fa-file-o"></span> {{getFileName()}}</p>

        <button type="button" class="btn btn-danger"
                ng-click="remove()">
          <span mw-icon="rln-icon delete"></span> {{'rlnUikit.mwFileUpload.remove' | i18n }}
        </button>
      </div>

    </div>

  </div>

  <input type="file"
         class="hidden"
         name="file"
         accept="{{inputValidator}}"
         ng-model="selectedFile"
         ng-required="mwRequired"
         mw-set-dirty-on-model-change
         mw-custom-error-validator="{{uploadError}}"
         mw-is-valid="!isInvalid">

</div>