<div ng-form="file" class="mw-file-upload" ng-class="{
  'drag-start':viewModel.documentDragOver,
  'drag-over':viewModel.dropzoneDragOver,
  'full-screen':fullScreen,
  'hidden-btn':hiddenBtn,
  'UPLOADING': viewModel.state == 'UPLOADING',
  'DONE': viewModel.state != 'UPLOADING'
  }">

  <div class="upload-container">

    <div class="upload-info panel panel-primary" ng-if="viewModel.state == 'UPLOADING'">
      {{viewModel.uploadMessage}}
      <div class="state-indicator">
        <div class="progress" ng-style="{width: viewModel.uploadProgress + '%'}"></div>
      </div>
    </div>
    <div ng-if="!hideCancelBtn && viewModel.state == 'UPLOADING'"
         class="btn btn-danger"
         ng-click="abort()">{{'rlnUikit.mwFileUpload.abort' | i18n}}
    </div>

    <button ng-show="canShowUploadBtn()"
            type="button"
            class="btn btn-primary btn-upload hidden-on-drag upload-btn"
            mw-file-upload-button
            accepts="{{validator}}"
            drop-zone-element="viewModel.dropZoneElmement"
            max-file-size-byte="maxFileSizeByte"
            on-upload-start-callback="onUploadStart"
            on-progress-callback="onUploadProgress"
            on-success-callback="onUploadSuccess"
            on-error-callback="onUploadError"
            on-abort-callback="onUploadAbort"
            abort-flag="abortFlag"
            uploader-options="viewModel.uploaderOptions">
      <span mw-icon="rln-icon upload"></span> {{ text || ('rlnUikit.mwFileUpload.upload' | i18n) }}
    </button>

    <div ng-show="viewModel.state != 'UPLOADING'" class="upload-btn" style="width: 100%">

      <div ng-if="viewModel.hasDropZone"
           mw-file-upload-drag-and-drop
           id="{{viewModel.dropZoneId}}"
           on-document-drag-over-callback="dragoverDocumentStateChange"
           on-dropzone-drag-over-callback="dragoverDropzoneStateChange"
           on-drop="onDrop"></div>

      <div ng-if="viewModel.fileName" class="hidden-on-drag selected-file-info">
        <p ng-if="showFileName"
           class="filename panel panel-default">
          <span mw-icon="fa-file-o"></span>
          {{viewModel.fileName}}
        </p>

        <button ng-show="canShowRemoveBtn()"
                type="button"
                class="btn btn-danger"
                ng-click="removeFile()">
          <span mw-icon="rln-icon delete"></span> {{'rlnUikit.mwFileUpload.remove' | i18n }}
        </button>
      </div>

    </div>
  </div>

  <input type="text"
         class="hidden"
         ng-model="viewModel.fileName"
         ng-required="mwRequired"
         mw-set-dirty-on-model-change
         mw-custom-error-validator="{{viewModel.uploadError}}"
         mw-is-valid="!viewModel.isInvalid">
</div>