.mw-wizard-navigation {
  display: flex;
  justify-content: space-between;

  &.has-extra-content {
    justify-content: flex-end;

    > *:last-child{
      margin-right: 0;
    }
  }

  &:not(.has-extra-content){
    .extra-content {
      display: none;
    }

    > *:nth-last-child(2){
      margin-right: 0;
    }
  }

  > * {
    margin: 0 5px;
  }

  > *:first-child{
    margin-left: 0;
  }
}