.mw-infinite-loading{
  .mw-spinner,
  .lead {
    display: inline-block;
    vertical-align: middle;
  }

  .lead {
    margin: 0 8px;
    padding: 0;

    color: #ccc;
    font-weight: lighter;
    font-size: 20px;
  }
}