.mw-collapsible {
  .mw-collapsible-heading {
    margin-top: 20px;
    border-bottom: 1px solid $brand-primary;
    color: #555;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 2px;
    cursor: pointer;

    .mw-collapsible-heading-text {
      padding-left: 2px;
    }

    i {
      color: $brand-primary;
      -webkit-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
    }
  }

  .mw-collapsible-animate {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }

  .mw-collapsible-animate.collapsed {
    opacity: 1;
    max-height: 2999px;
  }
}