<div class="mw-menu-top-item"
     ng-click="executeAction()">
  <a ng-if="entry.get('type') === 'ENTRY'"
     ng-href="{{entry.get('url')}}"
     target="{{entry.get('target')}}"
     mw-menu-toggle-active-class="entry"
     id="{{entry.get('id')}}"
     class="entry">
    <span ng-if="entry.get('icon')"
          mw-icon="{{entry.get('icon')}}"></span>
    <span>{{entry.get('label')}}</span>
  </a>
  <div ng-if="entry.get('type') === 'DIVIDER'"
       class="divider"
       title="{{entry.get('label')}}">
  </div>
</div>