<nav class="mw-menu-top-bar navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">
      <img class="portal-logo"
           ng-src="https://live.relution.io/relution/portal/images/logo-header.png"/>
    </a>
  </div>

  <div ng-transclude></div>

</nav>