<div class="mw-header row">
  <div class="fixed-content col-md-12">

    <div class="title-holder">
      <div class="title-holder-item">
        <span mw-icon="{{mwTitleIcon}}"
              class="header-icon"
              ng-if="mwTitleIcon">
        </span>
        <div ng-if="mwBreadCrumbs"
             mw-bread-crumbs-holder>
          <div ng-repeat="breadCrumb in mwBreadCrumbs"
               mw-bread-crumb
               url="{{breadCrumb.url}}"
               title="{{breadCrumb.title}}"
               show-left-arrow="canShowBackButton() && $index === 0">
          </div>
        </div>
        <div>
          <h1 class="lead page-title">
            <span class="text">{{title}}</span>
          </h1>
        </div>
      </div>
      <div ng-if="showDescription"
           class="title-holder-item">
        <div class="text description">
          {{description}}
        </div>
      </div>
    </div>
    <div class="action-btn-bar">
      <div ng-if="canShowDescriptionButton()"
           class="action-btn clickable round-btn description-btn"
           ng-click="toggleDescription()">
        <span mw-icon="mwUI.info"></span>
      </div>

      <div ng-if="showRefreshButton"
           class="action-btn  clickable round-btn"
           ng-click="refresh()">
        <span mw-icon="mwUI.refresh"></span>
      </div>
    </div>

    <div class="additional-content-holder"
         ng-transclude>
    </div>
  </div>
</div>