<div class="mw-header row">
  <div class="fixed-content col-md-12">

    <div ng-if="canShowBackButton()"
         class="back-btn clickable round-btn"
         ng-click="back()">
          <span mw-icon="mwUI.angleLeft"></span>
    </div>

    <div class="title-holder">
      <div class="title-holder-item">
        <span mw-icon="{{mwTitleIcon}}"
              class="header-icon"
              ng-if="mwTitleIcon">
        </span>
        <div ng-if="mwBreadCrumbs"
            mw-bread-crumbs-holder>
          <div ng-repeat="breadCrumb in mwBreadCrumbs"
                mw-bread-crumb
                url="{{breadCrumb.url}}"
                title="{{breadCrumb.title}}"
                show-arrow="true">
          </div>
        </div>
        <div>
          <h1 class="lead page-title">
            <span class="text">{{title}}</span>
            <div class="action-btn  clickable round-btn"
                  ng-click="refresh()">
              <span mw-icon="mwUI.refresh"></span>
            </div>
            <div ng-if="canShowDescriptionButton()"
                  class="action-btn clickable round-btn description-btn"
                  ng-click="toggleDescription()">
              <span mw-icon="mwUI.info"></span>
            </div>
          </h1>
        </div>
      </div>
      <div ng-if="showDescription" class="title-holder-item">
        <span class="text">
          {{description}}
        </span>
      </div>
    </div>

    <div class="additional-content-holder"
         ng-transclude>
    </div>

  </div>
</div>