<div class="mw-header row" ng-class="{'mw-header-large': showDescription }">
  <div class="fixed-content col-md-12" ng-class="{'fixed-content-large': showDescription }">

    <div ng-if="canShowBackButton()"
         class="back-btn clickable round-btn"
         ng-click="back()">
          <span mw-icon="mwUI.angleLeft"></span>
    </div>

    <div class="title-holder">
      <span mw-icon="{{mwTitleIcon}}"
            class="header-icon"
            ng-if="mwTitleIcon">
      </span>

      <div ng-if="mwBreadCrumbs"
           mw-bread-crumbs-holder>
        <div ng-repeat="breadCrumb in mwBreadCrumbs"
             mw-bread-crumb
             url="{{breadCrumb.url}}"
             title="{{breadCrumb.title}}"
             show-arrow="true">
        </div>
      </div>
      <div>
        <h1 class="lead page-title">
          <span class="text">{{title}}</span>
          <div class="action-btn  clickable round-btn"
               ng-click="refresh()">
            <span mw-icon="mwUI.refresh"></span>
          </div>
          <div ng-if="canShowDescriptionButton()"
               class="action-btn clickable round-btn"
               ng-click="toggleDescription()">
            <span mw-icon="mwUI.info"></span>
          </div>
        </h1>
        <span class="text" ng-if="showDescription">
          {{description}}
        </span>
      </div>
    </div>

    <div class="additional-content-holder"
         ng-transclude>
    </div>

  </div>
</div>