<div class="nav-bar-holder">
  <div class="nav-bar-fixer">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-xs-12">
        <div ng-if="showBackButton"
             class="back"
             data-text="{{'common.back' | i18n}}"
             ng-click="back()">
          <span mw-icon="chevron-left"></span>
        </div>

        <h2 class="lead pull-left clickable" ng-click="refresh()">{{title}}</h2>


        <div class="pull-left header-popover"
             data-content="{{ warningText }}"
             style="font-size: 30px; margin-left:4px;">
          <span ng-if="warningCondition"
                class="text-warning"
                mw-icon="fa-warning" ></span>
          <span class="popover-container"
                style="font-size: 14px;"></span>
        </div>

        <div class="pull-right" ng-transclude></div>

      </div>
    </nav>
  </div>
</div>
