<div class="mw-sidebar-filters"
     ng-class="{'form-active':viewModel.showFilterForm, 'form-in-active':!viewModel.showFilterForm}">

  <div ng-if="mwListCollection"
       class="btn-group btn-block persisted-filters">
    <button class="btn btn-default btn-block dropdown-toggle"
            ng-class="{hidden:viewModel.showFilterForm}"
            data-toggle="dropdown">
      <span mw-icon="rln-icon icon-filter_add"></span>
      {{appliedFilter.get('name') || ('common.applyQuickFilter' | i18n) }}
    </button>

    <ul class="filter-dropdown dropdown-menu" style="min-width:100%" role="menu">
      <li ng-class="{'active':appliedFilter.id===filter.id}"
          class="filter">
        <a href="#"
           mw-prevent-default="click"
           ng-click="revokeFilter()"
           class="btn btn-link">
          {{'common.unFiltered' | i18n}}
        </a>
      </li>
      <li ng-repeat="filter in filters.models"
          ng-class="{'active':appliedFilter.id===filter.id}"
          class="filter">
        <a href="#"
           mw-prevent-default="click"
           ng-click="applyFilter(filter)"
           class="btn btn-link">
          {{filter.get('name')}}
        </a>

        <div ng-if="appliedFilter.id===filter.id && filter.canModifyFilter()"
             class="pull-right action-btns hidden-xs hidden-sm">

          <button class="btn btn-link edit"
                  ng-click="editFilter(filter)">
            <span mw-icon="rln-icon icon-edit"></span>
          </button>

          <button class="btn btn-link delete"
                  ng-click="deleteFilter(filter)">
            <span mw-icon="rln-icon icon-delete"></span>
          </button>

        </div>
      </li>
      <li class="filter">
        <a href="#"
           mw-prevent-default="click"
           ng-click="addFilter(filter)"
           class="btn btn-link">
          + {{'common.addFilter' | i18n}}
        </a>
      </li>
    </ul>
  </div>

  <div class="form" ng-if="viewModel.showFilterForm">

    <div ng-transclude></div>

    <div ng-if="mwListCollection && filtersAreApplied()" class="panel panel-default margin-top-10 quickfilter-form">
      <div class="panel-body">
        <p>
          {{'common.saveQuickFilter' | i18n}}
        </p>
        <input type="text"
               placeholder="{{'common.quickFilterName' | i18n}}"
               class="margin-top-10"
               ng-model="viewModel.tmpFilter.attributes.name">

        <div ng-if="viewModel.tmpFilter.canCreatePublicFilter()"
             class="public-filter margin-top-10">
          <p>
            <label>
              <input type="checkbox" ng-model="isPublic" mw-model="viewModel.tmpFilter">
              {{'common.saveQuickFilterPublic' | i18n}}
            </label>
            <span mw-icon="fa-question-circle"
                  tooltip="{{'common.saveQuickFilterPublicTooltip' | i18n}}">
            </span>
          </p>

          <div mw-toggle mw-model="viewModel.tmpFilter.attributes.isPublic"
               mw-icon-on="fa-globe"
               mw-icon-off="fa-lock"></div>
          <hr>
        </div>

        <div class="margin-top-10">
          <button class="btn btn-danger" ng-click="cancelFilterEdit()">
            {{'common.cancel' | i18n}}
          </button>

          <button class="btn btn-primary"
                  ng-disabled="!viewModel.tmpFilter.isValid()"
                  ng-click="saveFilter()">
            {{'common.save' | i18n}}
          </button>
        </div>
      </div>
    </div>

    <div ng-if="mwListCollection && !filtersAreApplied()" class="margin-top-10">
      <button class="btn btn-danger btn-block"
              ng-click="cancelFilterEdit()">
        {{'common.cancel' | i18n}}
      </button>
    </div>

  </div>
</div>