<div class="mw-sidebar-filters"
     ng-class="{'form-active':viewModel.showFilterForm, 'form-in-active':!viewModel.showFilterForm}">

  <div ng-if="mwListCollection"
       class="btn-group btn-block persisted-filters">
    <button class="btn btn-default btn-block dropdown-toggle"
            ng-class="{hidden:viewModel.showFilterForm}"
            data-toggle="dropdown">
      <span mw-icon="rln-icon filter_add"></span>
      <span class="filter-name">{{appliedFilter.get('name') || ('common.applyQuickFilter' | i18n) }}</span>
    </button>

    <ul class="filter-dropdown dropdown-menu" style="min-width:100%" role="menu">
      <li ng-class="{'active':appliedFilter.isNew()}"
          class="filter">
        <a href="#"
           mw-prevent-default="click"
           ng-click="revokeFilter()"
           class="btn btn-link">
          {{'common.unFiltered' | i18n}}
        </a>
        <div ng-if="appliedFilter.isNew()"
             class="pull-right action-btns hidden-xs hidden-sm">
          <div ng-if="isLoading">
            <div mw-spinner></div>
          </div>
        </div>
      </li>
      <li ng-repeat="filter in filters.models"
          ng-if="!(filter.get('invalid') && !filter.canModifyFilter())"
          ng-class="{'active':isFilterApplied(filter), 'invalid': filter.get('invalid')}"
          class="filter">
        <a href="#"
           mw-prevent-default="click"
           ng-click="applyFilter(filter)"
           class="btn btn-link">
          <span ng-if="filter.get('isPublic') && filter.canCreatePublicFilter()"
                mw-icon="fa-globe"
                tooltip="{{'common.filterIsPublic' | i18n}}"></span>
          <span ng-if="!filter.get('isPublic') && filter.canCreatePublicFilter()"
                mw-icon="fa-lock"
                tooltip="{{'common.filterIsPrivate' | i18n}}"></span>
          <span class="filter-name">{{filter.get('name')}}</span>
          <span ng-if="filter.get('invalid')"
                class="invalid-icon"
                mw-icon="mwUI.warning"
                tooltip="{{'rlnUikit.mwSidebar.invalidFilterModal.description' | i18n:{name: filter.get('name')} }}"></span>
        </a>

        <div ng-if="appliedFilter.id===filter.id || filter.get('invalid')"
             class="pull-right action-btns hidden-xs hidden-sm">

          <div ng-if="!isLoading && filter.canModifyFilter()">
            <button class="btn btn-link edit"
                    ng-click="editFilter(filter)">
              <span mw-icon="rln-icon edit"></span>
            </button>

            <button class="btn btn-link delete"
                    ng-click="deleteFilter(filter)">
              <span mw-icon="rln-icon delete"></span>
            </button>
          </div>

          <div ng-if="isLoading">
            <div mw-spinner></div>
          </div>

        </div>
      </li>
      <li class="filter">
        <a href="#"
           mw-prevent-default="click"
           ng-click="addFilter(filter)"
           class="btn btn-link">
          <span mw-icon="rln-icon add"></span>
          {{'common.addFilter' | i18n}}
        </a>
      </li>
    </ul>
  </div>

  <div class="form" ng-if="viewModel.showFilterForm">

    <div ng-transclude></div>

    <div ng-if="mwListCollection && filtersAreApplied()" class="panel panel-default margin-top-10 quickfilter-form">
      <div class="panel-body">
        <p>
          {{'common.saveQuickFilter' | i18n}}
        </p>
        <div class="filter-name">
          <span ng-if="viewModel.tmpFilter.get('isPublic') && viewModel.tmpFilter.canCreatePublicFilter()"
                mw-icon="fa-globe"
                tooltip="{{'common.filterIsPublic' | i18n}}"></span>
          <span ng-if="!viewModel.tmpFilter.get('isPublic') && viewModel.tmpFilter.canCreatePublicFilter()"
                mw-icon="fa-lock"
                tooltip="{{'common.filterIsPrivate' | i18n}}"></span>
          <input type="text"
                 placeholder="{{'common.quickFilterName' | i18n}}"
                 ng-model="viewModel.tmpFilter.attributes.name">
        </div>

        <div ng-if="viewModel.tmpFilter.canCreatePublicFilter()"
             class="public-filter margin-top-10">
          <p>
            <label>
              <input type="checkbox" ng-model="isPublic" mw-model="viewModel.tmpFilter">
              {{'common.saveQuickFilterPublic' | i18n}}
            </label>
            <span mw-icon="fa-question-circle"
                  tooltip="{{'common.saveQuickFilterPublicTooltip' | i18n}}">
            </span>
          </p>
          <hr>
        </div>

        <div class="margin-top-10">
          <button class="btn btn-danger" ng-click="cancelFilterEdit()">
            {{'common.cancel' | i18n}}
          </button>

          <button class="btn btn-primary"
                  ng-disabled="!viewModel.tmpFilter.isValid()"
                  ng-click="saveFilter()">
            {{'common.save' | i18n}}
          </button>
        </div>
      </div>
    </div>

    <div ng-if="mwListCollection && !filtersAreApplied()" class="margin-top-10">
      <button class="btn btn-danger btn-block"
              ng-click="cancelFilterEdit()">
        {{'common.cancel' | i18n}}
      </button>
    </div>

  </div>
</div>