<div class="mw-form mw-form-input form-group"
     ng-class="{'has-error': isInvalid() && isDirty(), 'is-required': isRequired(), 'is-required-error':isRequiredError() }">

  <div class="clearfix">

    <label ng-if="label"
           class="col-sm-3 control-label">
      {{ label }}
      <span ng-if="tooltip" mw-icon="rln-icon support" tooltip="{{ tooltip }}"></span>
    </label>

    <div ng-class="{ true: 'col-sm-6 col-lg-5', false: 'col-sm-12' }[label.length > 0]"
         ng-transclude></div>
  </div>

  <div ng-if="hideErrors !== true"
       ng-class="{ true: 'col-sm-6 col-sm-offset-3', false: 'col-sm-12' }[label.length > 0]">

    <span ng-if="hideErrors !== true && hideErrors !== key && isInvalid()"
          ng-repeat="(key, value) in getCurrentErrors()"
          mw-form-validation="{{ key }}">{{ validationValues[key] }}
    </span>
  </div>
</div>