.mw-filterable-search {

  .input-holder{
    position: relative;
    border-bottom: 1px solid #aaa;
    margin: 0 15px;
    width: inherit;

    .input-group-addon{
      background: none;
      border: none;
      padding: 6px 8px;

      .reset-icon{
        display: none;
        margin: 0 -4px;
      }

      .search-icon{
        display: block;
      }
    }

    input {
      border: none;
      box-shadow: none;
      width: 100%;
      background: transparent;
      display: inline-block;
      padding: 0 0 0 3px;
      font-size: 14px;
    }
  }

  &:not(.is-focused){
    .search-icon i{
      color: $brand-primary;
    }
  }

  &.has-value{
    .input-group-addon{
      .reset-icon{
        display: block;
      }

      .search-icon{
        display: none;

        &.searching i {
          animation: flash 0.8s cubic-bezier(.72, -0.08, .64, 1.18) infinite;
          -webkit-animation: flash 0.8s cubic-bezier(.72, -0.08, .64, 1.18) infinite; /* Safari and Chrome */
        }
      }
    }
  }

  &.is-focused {
    .input-group-addon {
      .search-icon {
        display: block;
      }

      .reset-icon {
        display: none;
      }
    }
  }
}

.search-indicator {
  position: absolute;
  display: block;
  border: 5px solid $brand-primary;
  border-radius: 50%;
  animation: searching 1.3s ease infinite;
  -webkit-animation: searching 1.3s ease infinite; /* Safari and Chrome */
}


.sidebar {

  width: inherit;
  margin-bottom: 30px;

  .content-container {
    padding-right: 30px;
    position: fixed;
    height: 100%;
    margin-top: -35px;
    padding-top: 35px;
    background: white;
    z-index: 1;
    width:inherit;
    overflow: auto;
    margin-left: -3px;
    padding-left: 3px;
    overflow-x: hidden;

    &:after {
      height: 90%;
      content: "";
      position: absolute;
      right: 16px;
      width:1px;
      background: #ccc;
      background:linear-gradient(color-stops(#efefef 0%,#cccccc 25%,#cccccc 75%,#ffffff 100%));
      top: 35px;
    }

    hr{
      margin: 15px 0;
    }

    *[mw-sidebar-actions] > *[ng-transclude] > *:not(:first-child) {
        margin-top: 5px;
    }

    @import "mw-sidebar-filters";

  }

  @media (max-width: $screen-md) {
    .content-container {
      top: 0 !important;
      position: relative;
      overflow: initial;
      max-height: none !important;
    }
  }

  @media (max-width: $screen-sm-max) {
    &:before {
      border-right: 0px;
    }
    .content-container{
      padding-right: 0;

      &:after {
        background: none;
      }
    }

  }

  @media (min-width: $screen-sm-max) {
    height: 100%;
    background: white;
    top: 0;
    left: 0;
  }

  .row {
    margin-top: 10px;
  }
}