$mw-font-path: "../fonts" !default;

@font-face {
  font-family: 'icomoon';
  src: url('#{$mw-font-path}/mw-relution.eot');
  src: url('#{$mw-font-path}/mw-relution.eot?#iefix') format('embedded-opentype'),
  url('#{$mw-font-path}/mw-relution.woff') format('woff'),
  url('#{$mw-font-path}/mw-relution.ttf') format('truetype'),
  url('#{$mw-font-path}/mw-relution.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body .rln-icon{
  position: relative;
}

.rln-icon {
  top: 1px;
  display: inline-block;
  font: normal normal normal 14px/1 icomoon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #808080;

  &:hover,
  &:after:hover,
  &:before:hover {
    text-decoration: none !important;
  }

  @font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?wzr8pt');
    src: url('fonts/icomoon.eot?wzr8pt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wzr8pt') format('truetype'),
    url('fonts/icomoon.woff?wzr8pt') format('woff'),
    url('fonts/icomoon.svg?wzr8pt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.action:before {
    content: "\e800";
  }
  &.add:before {
    content: "\e801";
  }
  &.android:before {
    content: "\e802";
  }
  &.apple:before {
    content: "\e803";
  }
  &.apps:before {
    content: "\e804";
  }
  &.archive:before {
    content: "\e805";
  }
  &.bluetooth:before {
    content: "\e806";
  }
  &.categories:before {
    content: "\e807";
  }
  &.certificate:before {
    content: "\e808";
  }
  &.check:before {
    content: "\e809";
  }
  &.close_cross:before {
    content: "\e80a";
  }
  &.company:before {
    content: "\e80b";
  }
  &.compliance_error:before {
    content: "\e80c";
  }
  &.compliance_no:before {
    content: "\e80d";
  }
  &.compliance_pending:before {
    content: "\e80e";
  }
  &.compliance_yes:before {
    content: "\e80f";
  }
  &.compliance:before {
    content: "\e810";
  }
  &.credit_add:before {
    content: "\e811";
  }
  &.credit_inquire:before {
    content: "\e812";
  }
  &.credit_receive:before {
    content: "\e813";
  }
  &.dashboard:before {
    content: "\e814";
  }
  &.delete:before {
    content: "\e815";
  }
  &.development:before {
    content: "\e816";
  }
  &.device:before {
    content: "\e817";
  }
  &.devicemanagement:before {
    content: "\e818";
  }
  &.download:before {
    content: "\e819";
  }
  &.edit:before {
    content: "\e81a";
  }
  &.enroll:before {
    content: "\e81b";
  }
  &.exchange:before {
    content: "\e81c";
  }
  &.filter_add:before {
    content: "\e81d";
  }
  &.folder:before {
    content: "\e81e";
  }
  &.group_enrollment:before {
    content: "\e81f";
  }
  &.history:before {
    content: "\e820";
  }
  &.ic_action_add_shortcut:before {
    content: "\e821";
  }
  &.ic_action_alert:before {
    content: "\e822";
  }
  &.ic_action_change_policy:before {
    content: "\e823";
  }
  &.ic_action_deploy_app:before {
    content: "\e824";
  }
  &.ic_action_deploy_store_app:before {
    content: "\e825";
  }
  &.ic_action_locate:before {
    content: "\e826";
  }
  &.ic_action_lock:before {
    content: "\e827";
  }
  &.ic_action_message:before {
    content: "\e828";
  }
  &.ic_action_open_file:before {
    content: "\e829";
  }
  &.ic_action_ping:before {
    content: "\e82a";
  }
  &.ic_action_refresh_device:before {
    content: "\e82b";
  }
  &.ic_action_remove_app:before {
    content: "\e82c";
  }
  &.ic_action_remove_shortcut:before {
    content: "\e82d";
  }
  &.ic_action_reset_passcode:before {
    content: "\e82e";
  }
  &.ic_action_update:before {
    content: "\e82f";
  }
  &.ic_action_wipe:before {
    content: "\e830";
  }
  &.ic_action_withdraw:before {
    content: "\e831";
  }
  &.ic_conf_managed_app:before {
    content: "\e832";
  }
  &.ic_conf_airplay:before {
    content: "\e833";
  }
  &.ic_conf_airprint:before {
    content: "\e834";
  }
  &.ic_conf_apn:before {
    content: "\e835";
  }
  &.ic_conf_app-control:before {
    content: "\e836";
  }
  &.ic_conf_calendar-subscription:before {
    content: "\e837";
  }
  &.ic_conf_calendar:before {
    content: "\e838";
  }
  &.ic_conf_certificate:before {
    content: "\e839";
  }
  &.ic_conf_contacts:before {
    content: "\e83a";
  }
  &.ic_conf_domain:before {
    content: "\e83b";
  }
  &.ic_conf_email:before {
    content: "\e83c";
  }
  &.ic_conf_exchange:before {
    content: "\e83d";
  }
  &.ic_conf_kiosk:before {
    content: "\e83e";
  }
  &.ic_conf_passcode:before {
    content: "\e83f";
  }
  &.ic_conf_restrictions:before {
    content: "\e840";
  }
  &.ic_conf_scep:before {
    content: "\e841";
  }
  &.ic_conf_vpn:before {
    content: "\e842";
  }
  &.ic_conf_webclip:before {
    content: "\e843";
  }
  &.ic_conf_wifi:before {
    content: "\e844";
  }
  &.ic_iot_advertisement:before {
    content: "\e845";
  }
  &.ic_iot_end_programming:before {
    content: "\e846";
  }
  &.ic_iot_led_multi_off:before {
    content: "\e847";
  }
  &.ic_iot_led_off:before {
    content: "\e848";
  }
  &.ic_iot_led_on_multi:before {
    content: "\e849";
  }
  &.ic_iot_led_on:before {
    content: "\e84a";
  }
  &.ic_iot_start_programming:before {
    content: "\e84b";
  }
  &.language:before {
    content: "\e84c";
  }
  &.logout:before {
    content: "\e84d";
  }
  &.map_location_filled:before {
    content: "\e84e";
  }
  &.map_location:before {
    content: "\e84f";
  }
  &.mtrust:before {
    content: "\e850";
  }
  &.new_app_appstore:before {
    content: "\e851";
    color: #808080;
  }
  &.new_app_appstore:after {
    content: "\e852";
    margin-left: -1.4794921875em;
    color: rgb(255, 255, 255);
  }
  &.new_app_native:before {
    content: "\e853";
  }
  &.new_app_playstore:before {
    content: "\e854";
  }
  &.new_app_webapp:before {
    content: "\e855";
  }
  &.new_app_weblink:before {
    content: "\e856";
  }
  &.new_app_windowsstore:before {
    content: "\e857";
  }
  &.notification:before {
    content: "\e858";
  }
  &.password_change:before {
    content: "\e859";
  }
  &.policies:before {
    content: "\e85a";
  }
  &.policy_add:before {
    content: "\e85b";
  }
  &.policy_remove:before {
    content: "\e85c";
  }
  &.pricetag:before {
    content: "\e85d";
  }
  &.publish:before {
    content: "\e85e";
  }
  &.published:before {
    content: "\e85f";
  }
  &.request:before {
    content: "\e860";
  }
  &.review:before {
    content: "\e861";
  }
  &.rule_add:before {
    content: "\e862";
  }
  &.rule_remove:before {
    content: "\e863";
  }
  &.ruleset:before {
    content: "\e864";
  }
  &.secure_browser:before {
    content: "\e865";
  }
  &.support:before {
    content: "\e866";
  }
  &.upload:before {
    content: "\e867";
  }
  &.user_group:before {
    content: "\e868";
  }
  &.user:before {
    content: "\e869";
  }
  &.version_add:before {
    content: "\e86a";
  }
  &.version:before {
    content: "\e86b";
  }
  &.vpp:before {
    content: "\e86c";
  }
  &.webapp:before {
    content: "\e86d";
  }
  &.windows:before {
    content: "\e86e";
  }
  &.workflow:before {
    content: "\e86f";
  }
}